.mlm-main{
  justify-content: center;
  display: flex;
}
.mlm-container {
  text-align: center;
  margin-top: 50px;
  border: 1px solid grey;
  border-radius: 10px;
  height: 400px;
  width: 700px;
}

.mlm-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.mlm-person-points {
  margin-bottom: 20px;
}

.mlm-buttons button {
  margin-right: 10px;
}

.mlm-join-button {
  padding: 10px 20px;
  cursor: pointer;
}

.mlm-dismiss-button {
  padding: 10px 20px;
  cursor: pointer;
}
